.About {
    max-width: 700px;

    margin: 5vh auto 5vh;
    padding: 10px;

    font-size: 1.25em;

    animation: fadeInAbout 0.5s ease-in both;
}

.bio {
    display: flex;
    height: 100vh;
}

.bio > article {
    width: 50%;
}

.About > section > article > h2 {
    font-family: 'Alata', sans-serif;
}


.About > section > h2 {
    text-align: center;
}

.About > section {
    padding: 10vh 0 10vh 0;
}

@media only screen and (max-width: 600px) {
    .bio  {
        flex-direction: column;
    }

    .bio > article {
        width: 100%;
    }
}

@keyframes fadeInAbout {
	from {
		opacity: 0;
		transform: translate3d(0, -0.2%, 0);
    }
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}