#about-me-nav {
    position: sticky;
    top: 40vh;
    z-index: 1;
    height: 10vh;
}

#about-me-nav ul {
    margin: 0;
    padding: 20px;
}

#about-me-nav li {
  margin-top: 20px;
}


#about-me-nav ul li a {
    transition: color, 0.3s;
    color: gray;
}

#about-me-nav ul li a:hover {
    color: black;
}

/*=========================================*/
.Curriculum {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: auto;
    padding: 0 0 10vh 0;
}

.Curriculum ul {
    list-style: none;
}

.Curriculum h4 {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}

.Curriculum h2 {
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;
}

.CurriculumRow {
    display: flex;
    margin-top: 10px;
}

.Desc {
    color: #242424;
    width: 78%;
}

.Year {
    width: 22%;
}

.entry2 {
    text-align: center;
    margin: auto;
}

@media only screen and (max-width: 900px) {
    .Curriculum {
        width: 90%;
    }
    .CurriculumRow {
        flex-direction: column;
    }
}
@media only screen and (min-width: 900px) {
    .Curriculum {
        width: 60%;
    }
    .CurriculumRow {
        flex-direction: row;
    }
    .Desc {
        margin-left: 10px;
    }
}