.Header {
    text-align: center;
	font-family: sans-serif;
	height: 100vh;
	background: white url("../../public/last.jpg") no-repeat;
	background-size: cover;
}

.Header hgroup {
	height: 100%;

    padding: 35vh 0 0;

   	background: rgba(10, 4, 4, 0.6);
	
	color: #e9e2d9;

	text-shadow: 2px 2px #222222;
}

.Header h1 {
    font-size: 3em;
    font-family: 'Parisienne', 'cursive';

    margin: auto;

	color: #fff8ee;
}

.Header h1, .Header h3 {
    animation: fadeInHeader 2s ease-in both;
}

@keyframes fadeInHeader {
	0% {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
    }
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}