.Navbar {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0);
  width: 100%;
}

.Navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 30px 10px 30px;
  overflow: hidden;
}

.Navbar li {
  margin: 20px 0 0 20px;
}

.Left li {
  float: left;
}

.dropdownBtn {
  display: none;
  margin-left: auto;
  border-radius: 5px;
  border: none;
  font-size: 2em;
  background: none;
}

.dropdownBtn:hover {
  color: #1b1b1b;
  cursor: pointer;
}

.Navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
}

.Navbar li a:hover {
  background: #ffffff;
}

  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@media only screen and (max-width: 770px) {
  .Navbar {
    flex-direction: column;
  }

  .Left {
    display: flex;
    flex-direction: column;
  }

  .Right {
    display: flex;
    flex-direction: column;
  }

  .dropdownBtn {
    display: block;
  }
}
@media only screen and (min-width: 770px) {
  .Navbar {
    display: flex;
    top: 0;
    z-index: 1;
  }
}
